@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .icon {
    @apply h-5 w-5 stroke-[1.3px] text-gray-600 dark:text-gray-400;
  }
  .create-post-icon {
    @apply h-6 w-6 stroke-[1.3px];
  }
  .input {
    @apply rounded-md border border-gray-300 bg-gray-100/50 p-2 text-base  text-gray-800 caret-gray-800 outline-none dark:text-gray-300;
  }
  .required {
    @apply relative after:absolute after:top-1  after:text-xs after:text-red-500 after:content-['*'];
  }
  .apply-bg {
    @apply bg-white dark:bg-neutral-900;
  }
  .apply-border {
    @apply border border-neutral-300  dark:border-neutral-700;
  }
  .heading-text {
    @apply text-xs font-medium text-gray-800 dark:text-gray-300;
  }
  .link {
    @apply text-secondary-600;
  }
  .focusable {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary-400/70;
  }
}

@layer base {
  body {
    @apply bg-slate-200  dark:bg-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
  input {
    @apply p-0  font-heading text-gray-600 dark:text-gray-500 dark:caret-gray-500;
  }
  textarea {
    overflow: hidden;
    resize: none;
    height: auto;
  }
}
